.image-container {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 0.5rem solid var(--primary-color);
  overflow: hidden;
}

.image img {
  scale: var(--player-image-scale);
  transform: translateX(var(--player-image-x-desloc)) translateY(var(--player-image-y-desloc));
}


@media (max-width: 375px) {
  .image {
    width: 15rem;
    height: 15rem;
  }
}