
.navbar {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  -webkit-box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.navbar-options{
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.header {
  margin-left: 1.5rem;
  user-select: none;
}

.container {
  display: block;
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.players-name {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.player-level {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.players-nick-name {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  max-width: 30%;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.special-container {
  flex-direction: column;
  flex-wrap: nowrap !important;
}

.margin-auto{
  margin: auto!important;
}

.full-box {
  display: flex;
  text-align: center;
  padding-bottom: 0;

  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  scroll-margin-top: 10rem;
}

.container span {
  scroll-margin-top: 15vh;
}

.half-box {
  display: flex;
  text-align: center;
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 0;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #888;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
}

.centralized-text{
  text-align: center;
}

.modal-content button {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

.modal-content li:hover {
  background-color: #535353;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content form input {
  min-width: 20rem;
  text-align: center;
}

.good-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.good-button-container button{
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 0.1rem solid var(--primary-color);
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    max-width: none;
    max-height: none;
  }
}

@media (max-width: 375px) {
  .modal-content form input {
    min-width: 17rem;
  }
}
  
/* Media queries */
@media screen and (max-width: 780px) {
  .navbar {
    display: block;
    align-items: center;
    text-align: center;
    padding-bottom: 0.5rem;
    letter-spacing: 2px;
  }

  .navbar-options {
    justify-content: center;
  }

  .header {
    margin-left: 0rem;
    margin-bottom: 0.5rem;
  }

  .container {
    padding: 1rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }

  .players-nick-name {
    max-width: 100%;
  }

  .navbar-options {
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .container {
    margin-top: 10rem;
  }
}

@media (max-width: 375px) {
  .navbar {
    font-size: 2rem;
    display: block;
    align-items: center;
    text-align: center;
    padding-bottom: 0.5rem;
    letter-spacing: 2px;
  }

  .header {
    font-size: 2rem;
    margin-left: 0rem;
  }

  .players-nick-name {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}


.big-hover img:hover {
  -webkit-text-stroke: 2rem var(--primary-color);
  cursor: pointer;
}

.mid-hover:hover {
  -webkit-text-stroke: 0.09rem var(--primary-color);
  cursor: pointer;
}

.small-hover:hover {
  -webkit-text-stroke: 0.03rem var(--primary-color);
  cursor: pointer;
}

.image:hover {
  border: 0.5rem double var(--primary-color);
  cursor: pointer;
}



.list {
  list-style: none;
  border: 0.8rem double var(--primary-color);
  margin: 0;
  padding: 0;
  width: 50%;
  padding-bottom: 2rem;
}

.list-heading {
  font-size: 1.8rem;
  padding-top: 2rem;
  font-weight: bold;
}

.list-heading div {
  display: block;
}

.attribute-text:hover {
  -webkit-text-stroke: 0.03rem var(--primary-color);
}

.attribute-text {
  display: flex;
  justify-content: center;
  white-space: pre-line;
}

.list div, .attribute-text {
  margin: auto;
  font-size: 1.2rem;
  max-width: 90%;
}

@media screen and (max-width: 960px) {
  .list-container {
    flex-direction: column;
    align-items: center;
  }

  .list {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0rem;
  }

  .list-heading {
    padding-top: 0rem;
  }

  .half-box {
    padding: 1rem;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
  }
  
  .list div, .attribute-text {
    font-size: 1rem;
    max-width: 95%;
  }
}
